openapi: 3.0.1
info:
  title: Reelables Gateway Asset Facilities Asset Locations API
  description: RESTful API for partners to send data to the Reelables platform from Gateway devices
  contact:
    email: team@reelables.com
  version: 1.1.1
servers:
- url: https://api.reelables.com/{basePath}
  variables:
    basePath:
      default: gateway
  description: The production URL for sending requests to the Reelables Gateway API.
tags:
- name: Asset Locations
paths:
  /assets/{assetId}/locations:
    get:
      tags:
      - Asset Locations
      summary: Get location history for an Asset
      parameters:
      - name: request-id
        in: header
        description: 'Unique identifier for the API request. Example: f7ecf495-ca1c-4468-a6c2-6ee3f723fa00'
        schema:
          type: string
      - name: limit
        in: query
        description: 'Number of items to return. Default: 10. Maximum: 10000'
        schema:
          type: string
      - name: nextToken
        in: query
        description: Pagination token to get next page of items
        schema:
          type: string
      - name: summaryLocations
        in: query
        description: 'Whether to return summary (merged) locations or raw locations. Default: false'
        schema:
          type: string
      - name: assetId
        in: path
        description: The identifier of the Asset
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetLocations'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - AuthEndpoint:
        - https://auth.reelables.com/full-access
components:
  schemas:
    Address:
      type: object
      properties:
        country:
          maxLength: 255
          type: string
          description: The country name. Example 'United Kingdom'
        road:
          maxLength: 255
          type: string
          description: The road name. Example 'Downing Street'
        city:
          maxLength: 255
          type: string
          description: The city name. Example 'London'
        district:
          maxLength: 255
          type: string
          description: The district name. Example 'Westminster'
        postalCode:
          maxLength: 10
          type: string
          description: The postal code. Example 'SW1A 2AA'
        county:
          maxLength: 255
          type: string
          description: The county name. Example 'Greater London'
        state:
          maxLength: 255
          type: string
          description: The state name. Example 'England'
      additionalProperties: false
    Location:
      required:
      - coordinate
      - timestamp
      type: object
      properties:
        lastSeenTimestamp:
          maxLength: 20
          pattern: ^[0-9TZ:-]*$
          type: string
          description: 'Timestamp last seen at the location. Example: ''2019-07-21T17:32:28Z'''
          format: date-time
        coordinate:
          $ref: '#/components/schemas/Coordinate'
        address:
          $ref: '#/components/schemas/Address'
        error:
          maximum: 1000000
          minimum: 0
          type: integer
          description: The horrizontal error in metres [Deprecated - use coordinate.accuracy instead]
          format: int32
        timestamp:
          maxLength: 20
          pattern: ^[0-9TZ:-]*$
          type: string
          description: 'Timestamp of the location. Example: ''2019-07-21T17:32:28Z'''
          format: date-time
      additionalProperties: false
    AssetLocations:
      required:
      - items
      type: object
      properties:
        nextToken:
          maxLength: 5000
          pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]*$
          type: string
          description: Pagination token
        items:
          type: array
          items:
            $ref: '#/components/schemas/Location'
      additionalProperties: false
    Coordinate:
      required:
      - latitude
      - longitude
      type: object
      properties:
        latitude:
          maximum: 90
          minimum: -90
          type: number
          description: 'Latitude value of the coordinate. Example: 51.123'
          format: float
        accuracy:
          maximum: 1000000
          minimum: 0
          type: integer
          description: The horrizontal accuracy in metres
          format: int32
        longitude:
          maximum: 180
          minimum: -180
          type: number
          description: 'Longitude value of the coordinate. Example: -0.123'
          format: float
      additionalProperties: false
    ErrorResponse:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                maxLength: 100
                pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]*$
                type: string
                description: An application-specific error code, expressed as a string value
              id:
                maxLength: 100
                pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]*$
                type: string
                description: A unique identifier for this particular occurrence of the problem
              detail:
                maxLength: 500
                pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/" ]*$
                type: string
                description: A human-readable explanation specific to this occurrence of the problem
              title:
                maxLength: 100
                pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/" ]*$
                type: string
                description: A short, human-readable summary of the problem
              status:
                maxLength: 3
                pattern: ^[0-9]*$
                type: string
                description: The HTTP status code applicable to this problem, expressed as a string value
            additionalProperties: false
      additionalProperties: false
      description: This is an error
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
